// @import "./breakpoints/breakpoints.scss";
$orange: #fc7a03;
$grey: #67666a;
$darkorange: #d46803;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == md {
    @media (min-width: 48em) {
      @content;
    }
  }
}

.app{
    display: flex;
    justify-content: center;
    width: 100%;

    .link{
        text-decoration: none;
    }
    .container{
        width: 1024px;
        //LOGIN AND REGISTER
        .auth{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: orange;
            flex-direction: column;
        }

        h1{
            font-size: 20px;
            color: white;
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: white;
            width: 400px;
            gap: 20px;

            input{
                padding: 10px;
                border:none;
                border-bottom: 1px solid $grey;
            }

            button{
                padding: 10px;
                border: none;
                background-color: $orange;
                color: white;
                cursor: pointer;
            }

            span{
                font-size: 12px;
                color: $grey;
                text-align: center;
            }

            p{
                font-size: 12px;
                color: red;
                text-align: center;
            }
        }

        // NAVBAR
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include breakpoint(md){
                    padding: 0 3rem;
                }

                .logo{
                    img{
                        width: 100px;
                    }
                }

                .links{
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                        color: $grey;
                    }

                    span{
                        cursor: pointer;
                        font-size: 16px;
                    }

                    .write{
                        background-color: $orange;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 10px;

                        &:hover{
                            background-color: $darkorange;
                            color:white;
                        }
                    }

                    .link-botao{
                        color:white;
                        text-decoration: none;
                    }
                }
            }
        }
        // FOOTER
        .footer{
            margin-top: 40px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        // HOME
        .home{
            .posts{
                margin-top:50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post{
                    display: flex;
                    gap:100px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }
                    .img{
                        flex: 2;
                        position: relative;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $orange;
                            position: absolute;
                            top: 10px;
                            left: -10px;
                            z-index: -1;
                        }

                        img{
                            width: 100%;
                            max-height: 500px;
                            object-fit: cover;
                        }
                    }

                    .content{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex: 3;

                        .post-title{
                            color: $grey;
                            font-size: 48px;
                        }

                        p{
                            font-size: 16px;
                            color: $grey;
                            font-weight: 300;
                        }

                        button{
                            width:max-content;
                            padding: 10px 20px;
                            border: none;
                            background-color: $orange;
                            color: white;
                            cursor: pointer;

                            &:hover{
                                background-color: $darkorange;
                                color:white;
                            }
                        }

                        .ler-mais{
                            width:max-content;
                            padding: 10px 20px;
                            border: none;
                            background-color: $orange;
                            color: white;
                            cursor: pointer;
                            text-decoration: none;

                            &:hover{
                                background-color: $darkorange;
                                color:white;
                            }
                        }
                        .title-link{
                            text-decoration: none;
                        }
                    }

                }
            }
        }

        // SINGLE POST
        .single{
            display:flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 50px;

                img{
                    width: 100%;
                    max-height: 300px;
                    object-fit: scale-down;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    font-style: 16px;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px;
                }
            }

            .title-single{
                font-size: 42px;
                color: $grey;
            }

            p{
                font-size: 16px;
                color: $grey;
                font-weight: 300;
                line-height: 30px;
            }

            .menu{
                flex:2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1{
                    font-size: 20px;
                    color: $grey;
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{
                        width: 100%;
                        max-height: 300px;
                        object-fit: cover;
                    }

                    h2{
                        font-size: 16px;
                        color: $grey;
                    }

                    button{
                        width:max-content;
                        padding: 5px 20px;
                        border: 2px solid $orange;
                        background-color: white;
                        color: $orange;
                        cursor: pointer;

                        &:hover{
                            background-color: $orange;
                            color:white;
                        }
                    }
                }
            }
        }

        // CREATE POST
        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editor-container{
                    height: 300px;
                    overflow: scroll;

                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item{
                    padding: 10px;
                    border: 1px solid lightgray;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-style: 12px;
                    color: $grey;

                    h1{
                        font-size: 20px;
                        color: $grey;
                    }

                    .cat{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        color: $orange;
                        font-size: 14px;
                    }

                    .file{
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons{
                        justify-content: space-between;
                        display: flex;
                        margin-top: 30px;

                        :first-child{
                            cursor: pointer;
                            color: $orange;
                            border: 2px solid $orange;
                            background-color: white;
                            padding: 5px 20px;
                        }

                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: $orange;
                            border: none;
                            padding: 5px 20px;
                        }

                    }

                }
            }
        }
        
    }
}

